<div style="margin-top:-105px">
    <div class="row justify-content-md-center center-container text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-window-fullscreen"></i>
            <h3>FullStack Development</h3>
            <p>
                Aunque me siento más cercano a un perfil back-end, sigo estudiando y desarrollandome para obtener nuevas habilidades y conocimientos a diario.
            </p>
            <p>
                Estoy muy interesado en el uso de buenas prácticas de desarrollo: Clean Code, Principios SOLID, Microservicios
            </p>
        </div>
        <div class="col col-3 bg-white habilidades" style="box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-hdd-rack-fill"></i>
            <h3>Back-End</h3>
            <p></p>
            <p class="text-primary cabecera">
                Conocimientos:
            </p>

            <ul>
                <li>ASP.NET Core MVC</li>
                <li>EntityFramework</li>
                <li>Springboot</li>
                <li>Principios SOLID</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-code-square"></i> 
            <h3 class="">Front-End</h3>
            <p>
                Diseño responsivo
            </p>
            <p class="text-primary cabecera">
                Conocimientos:
            </p>
            <ul>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Blazor</li>
            </ul>
        </div>
    </div>
</div>